@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-size: 10px; */
  font-weight: 400;
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center stretch; */
  font-size: 1rem;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 1.875rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
} */

button {
  cursor: pointer;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

 */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Form Elements */

/* label {
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding-block: 0.7rem;
  padding-inline: 0.9rem;
  border-radius: 0.4rem;
  border: 1px solid #EFEFEF;
  font-size: 1.6rem;
}

.field-error {
  color: red;
} */


/* @theme {

  --animate-fade-in-and-out: fade-in-and-out 5s ease-in-out;

  @keyframes fade-in-and-out {
    10%, 90% {
      opacity: 1; 
    }
    100% {
      opacity: 0;
    }
  }
} */

